pipeline/bronze2silver2.json
{
	"name": "bronze2silver2",
	"properties": {
		"activities": [
			{
				"name": "Get Bronze Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DataFactoryOut",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "bronze"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Status New",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Bronze Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Bronze Table').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item(), '\"Status\":\"new\"')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create Silver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Status New",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "movieDetails",
						"value": ""
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Status New').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "value",
								"value": {
									"value": "@[item().movie,item().movie.*]",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Create Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "Silver",
								"value": {
									"value": "@variables('value')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Silver"
								},
								"sink": {
									"name": "Silver"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataFactoryOut",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "bronze"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataFactoryOut",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "silver"
						}
					}
				]
			}
		],
		"variables": {
			"value": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}